{% extends 'base.html' %}

{% block title %}Update Attribute | Ecommerce{% endblock %}

{% block content %}
<section class="customer-list-section">
    <div class="container">
        <div class="content">
            <div class="title-box">
                <div class="page-title">
                    <h3>Update Attribute</h3>
                </div>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs-list">
                        <li>
                            <a href="{% url 'backend:backend_dashboard' %}">
                                <span><img src="/static/images/icons/Home.svg" alt="home" /></span>Home
                            </a>
                        </li>
                        <li><a href="{% url 'backend:attribute_list' %}">Attribute List</a></li>
                        <li><a href="#">Update Attribute</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-area-content">
                <div class="form-inner-content">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Display messages if any -->
                        {% if messages %}
                        <div class="alert alert-info" role="alert" style="color: red">
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <div class="input-field">
                                <label for="id_attribute_name">Attribute Name</label>
                                {{ form.attribute_name }}
                            </div>
                            <div class="input-field">
                                <label for="id_attribute_ordering">Ordering</label>
                                {{ form.attribute_ordering }}
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="form-button">
                                <button type="submit" class="button blue-button">Update</button>
                                <a href="{% url 'backend:attribute_list' %}" class="button primary-button cancle-button">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
