
@media screen and (min-width: 991px) {
    .container-box {
        margin: 0 50px;
    }
    .mobile {
        display: none;
    }
    .desktop{
        display: block;
    }
}
@media screen and (min-width: 1440px) {
    .container-box {
        margin: 0 100px;
    }
    body{
        font-size: 18px;
    }
}
@media screen and (max-width: 991px) {
    .container-box {
        margin: 0 20px;
    }
    .mobile {
        display: none;
    }
    .desktop{
        display: none;
    }
}