{% extends 'layout.html' %}

{% block title %} Home | Ecommerce {% endblock %}

{% block page_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container-box">
            <div class="hero-slider">
                <img src="/static/frontend/images/slider/hero.png" alt="hero">
            </div>
        </div>
    </section>
    <section class="category-section">
        <div class="container-box">
            <div class="content-category">
                <div class="title-box">
                    <h3>Shop By Categories</h3>
                </div>
                <div class="category-list-content">
                    <div class="topCategory">
                        <div class="swiper-wrapper">
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">Storage</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="day-deal-section">
        <div class="container-box">
            <div class="content-day-deal">
                <div class="day-deal-box">
                    <div class="title-box">
                        <div class="title-box-info">
                            <h3>Day of the deal</h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ac id.</p>
                        </div>
                        <div class="time-left-info">
                            <p>Time Left - 23h : 59m : 59s</p>
                        </div>
                    </div>
                    <div class="day-deal-info">
                        <div class="deal-item-list">
                            <div class="deal-item">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">luxurious sofa</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="deal-item">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">luxurious sofa</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="deal-item">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">luxurious sofa</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="deal-item">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">luxurious sofa</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shop-now-section">
        <div class="container-box">
            <div class="content-shop-now">
                {% comment %} <div class="title-box">
                    <h3>Day of the deal</h3>
                </div> {% endcomment %}
                <div class="shop-now-ino-box">
                    <div class="shop-now-box shop-now-box-left">
                        <p>Lorem ipsum dolor sit amet consectetur. Quisque augue purus.</p>
                        <a href="#" class="button button-primary">Shop Now</a>
                    </div>
                    <div class="shop-now-box shop-now-box-right">
                        <p>Lorem ipsum dolor sit amet consectetur. Quisque augue purus.</p>
                        <a href="#" class="button button-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="trending-products-section">
        <div class="container-box">
            <div class="content-trending-products">
                <div class="trending-products-box">
                    <div class="title-box">
                        <div class="title-box-info">
                            <h3>Trending Products</h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ac id.</p>
                        </div>
                        <div class="time-left-info">
                            <p><a href="#">View all</a></p>
                        </div>
                    </div>
                    <div class="trending-products-info">
                        <div class="deal-item-list">
                            <div class="deal-item">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">luxurious sofa</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="deal-item">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">luxurious sofa</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="deal-item">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">luxurious sofa</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="deal-item">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                                </a>
                                <div class="item-text">
                                    <a href="#" class="card__link" alt="Storage" title="Storage">
                                        <h4 class="card__title">luxurious sofa</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block page_js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".topCategory", {
        slidesPerView: 8,
        spaceBetween: 30,
        freeMode: true,
       /* autoplay:{
            delay: 1200,
            disableOnInteraction: false,
        },*/
        breakpoints: {
        320: {
            spaceBetween: 20,
            slidesPerView: 4.5
        },
        576: {
            spaceBetween: 20,
            slidesPerView: 4.5
        },
        992: {
            spaceBetween: 30,
            slidesPerView: 4.5
        },
        1280: {
            spaceBetween: 30,
            slidesPerView: 8
        }
        },
        scrollbar: {
            el: ".topCategory .swiper-scrollbar",
        },
        navigation: {
        nextEl: '.topCategory .swiper-button-next',
        prevEl: '.topCategory .swiper-button-prev'
        }
    });
</script>
{% endblock %}