<footer class="footer">
    <div class="container">
        <div class="footer-box">
            <div class="news-letter">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-news">
                        <h5>Feedback</h5>
                        <div class="news-letter-box">
                            <div class="footer-subtitle-box">
                                <p>Seeking personalized support? Request a call from our team</p>
                            </div>
                            <div class="input-field">
                                <p>Your name</p>
                                <input type="text" name="name" >
                            </div>
                            <div class="input-field">
                                <p>Phone number</p>
                                <input type="text" name="phone" placeholder="">
                            </div>
                            <div class="input-field">
                                <button class="button button-primary" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="footer-info-row">
                <div class="footer-info">
                    <div class="footer-menu">
                        <h5>Info</h5>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Engineering</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Productions</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <h5>About us</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <div class="footer-q-store news-letter">
                            <div class="logo">
                                <img src="/static/frontend/images/icons/q-footer-logo.svg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-info contact-us-info">
                    <div class="footer-menu">
                        <h5>Contact us</h5>
                        <p><a href="tel:+19999999999">+1 (999) 999-99-99</a></p> 
                        <p><a href="mailto:hello@logoipsum.com">hello@logoipsum.com</a></p> 
                        <p>London</p>
                    </div>
                </div>
                <div class="footer-info">
                    <div class="footer-menu">
                        <h5>Subscription</h5>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="subscription-box">
                                <input type="text" name="subscription" placeholder="E-mail">
                                <button type="submit"><img src="/static/frontend/images/icons/subscribe-arrow.svg" alt="" ></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>