<section class="category-section">
    <div class="container-box">
        <div class="content-category">
            <div class="title-box">
                <h3>Shop By <span class="subcolor">Categories</span></h3>
            </div>
            <div class="category-list-content">
                <div class="topCategory">
                    <div class="swiper-wrapper">
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>
                        <div class="list-item swiper-slide" style="width: 149.5px; margin-right: 30px;">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/orange-office-chair.png" data-src="/static/frontend/images/products/orange-office-chair.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">Storage</h4>
                                    <p>12 Items</p>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>