<section class="latest-articles-section">
    <div class="container-box">
        <div class="content-day-deal">
            <div class="day-deal-box">
                <div class="title-box">
                    <div class="title-box-info">
                        <h3>Latest  <span class="subcolor">Articles </span></h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Ac id.</p>
                    </div>
                    <div class="time-left-info">
                        <p><a href="#">View all</a></p>
                    </div>
                </div>
                <div class="articles-info">
                    <div class="articles-item-list">
                        <div class="articles-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/video.png" alt="Storage">
                            </a>
                            <div class="articles-text">
                                <h4>Lorem ipsum dolor </h4>
                                <p>April 24, 2022 - 5 min read<p>
                                <p>Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
                            </div>
                        </div>
                        
                        <div class="articles-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/video.png" alt="Storage">
                            </a>
                            <div class="articles-text">
                                <h4>Lorem ipsum dolor </h4>
                                <p>April 24, 2022 - 5 min read<p>
                                <p>Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
                            </div>
                        </div>
                        
                        <div class="articles-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/video.png" alt="Storage">
                            </a>
                            <div class="articles-text">
                                <h4>Lorem ipsum dolor </h4>
                                <p>April 24, 2022 - 5 min read<p>
                                <p>Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>