<section class="new-arrivals-section">
    <div class="container-box">
        <div class="content-day-deal">
            <div class="day-deal-box">
                <div class="title-box">
                    <div class="title-box-info">
                        <h3>New <span class="subcolor">Arrivals</span></h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Ac id.</p>
                    </div>
                    <div class="time-left-info">
                        <p><a href="#">View all</a></p>
                    </div>
                </div>
                <div class="day-deal-info">
                    <div class="deal-item-list">
                        <div class="deal-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/luxari-sofa.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">luxurious sofa</h4>
                                    <p>$999</p>
                                </a>
                            </div>
                            <div class="over-lay-box">
                                <a href="#"><img class="" src="/static/frontend/images/icons/wish-list-icon.svg" alt="Storage"></a>
                                <a href="#"><img class="" src="/static/frontend/images/icons/addtocart-icon.svg" alt="Storage"></a>
                                <a href="#"><img class="" src="/static/frontend/images/icons/refresh-icon.svg" alt="Storage"></a>
                            </div>
                            <div class="discount-deal">
                                <span>-25%</span>
                            </div>
                        </div>
                        
                        <div class="deal-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/luxari-sofa.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">luxurious sofa</h4>
                                    <p>$999</p>
                                </a>
                            </div>
                            <div class="over-lay-box">
                                <a href="#"><img class="" src="/static/frontend/images/icons/wish-list-icon.svg" alt="Storage"></a>
                                <a href="#"><img class="" src="/static/frontend/images/icons/addtocart-icon.svg" alt="Storage"></a>
                                <a href="#"><img class="" src="/static/frontend/images/icons/refresh-icon.svg" alt="Storage"></a>
                            </div>
                            <div class="discount-deal">
                                <span>-25%</span>
                            </div>
                        </div>
                        <div class="deal-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/luxari-sofa.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">luxurious sofa</h4>
                                    <p>$999</p>
                                </a>
                            </div>
                            <div class="over-lay-box">
                                <a href="#"><img class="" src="/static/frontend/images/icons/wish-list-icon.svg" alt="Storage"></a>
                                <a href="#"><img class="" src="/static/frontend/images/icons/addtocart-icon.svg" alt="Storage"></a>
                                <a href="#"><img class="" src="/static/frontend/images/icons/refresh-icon.svg" alt="Storage"></a>
                            </div>
                            <div class="discount-deal">
                                <span>-25%</span>
                            </div>
                        </div>
                        <div class="deal-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/products/luxari-sofa.png" alt="Storage">
                            </a>
                            <div class="item-text">
                                <a href="#" class="card__link" alt="Storage" title="Storage">
                                    <h4 class="card__title">luxurious sofa</h4>
                                    <p>$999</p>
                                </a>
                            </div>
                            <div class="over-lay-box">
                                <a href="#"><img class="" src="/static/frontend/images/icons/wish-list-icon.svg" alt="Storage"></a>
                                <a href="#"><img class="" src="/static/frontend/images/icons/addtocart-icon.svg" alt="Storage"></a>
                                <a href="#"><img class="" src="/static/frontend/images/icons/refresh-icon.svg" alt="Storage"></a>
                            </div>
                            <div class="discount-deal">
                                <span>-25%</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>