<section class="shop-now-section">
    <div class="container-box">
        <div class="content-shop-now">
            <div class="shop-now-ino-box">
                <div class="shop-now-box shop-now-box-left">
                    <p>Lorem ipsum dolor sit amet consectetur. Quisque augue purus.</p>
                    <a href="#" class="button button-primary">Shop Now</a>
                </div>
                <div class="shop-now-box shop-now-box-right">
                    <p>Lorem ipsum dolor sit amet consectetur. Quisque augue purus.</p>
                    <a href="#" class="button button-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>