<section class="videos-section">
    <div class="container-box">
        <div class="content-day-deal">
            <div class="day-deal-box">
                <div class="title-box">
                    <div class="title-box-info">
                        <h3>Videos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Ac id.</p>
                    </div>
                    <div class="time-left-info">
                    </div>
                </div>
                <div class="videos-info">
                    <div class="videos-item-list">
                        <div class="videos-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/video.png" alt="Storage">
                            </a>
                        </div>
                        <div class="videos-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/video.png" alt="Storage">
                            </a>
                        </div>
                        <div class="videos-item">
                            <a href="#" class="card__link" alt="Storage" title="Storage">
                                <img class="" src="/static/frontend/images/video.png" alt="Storage">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>