<header>
    <nav class="nav-top">
        <div class="container-box">
            <div class="top-text">
                <div class="top-text-left">
                    <div class="logo">
                        <img src="/static/frontend/images/icons/q-store.svg" alt="" srcset="">
                    </div>
                </div>
                <div class="top-text-right">
                    <div class="user-menu">
                        <ul>
                            <li><a href="#"><img src="/static/frontend/images/icons/search.svg" alt=""></a></li>
                            <li>
                                <a href="#"><img src="/static/frontend/images/icons/accout.svg" alt="" ></a>
                                <div class="dropdown-user-menu">
                                    <ul>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#"><img src="/static/frontend/images/icons/wish-list.svg" alt=""></a></li>
                            <li><a href="#"><img src="/static/frontend/images/icons/add-to-cart.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="theme-option">
            <ul class="them-box">
                <li>
                    <div class="them-change">Click Me</div>
                    <ul>
                        <li>Light</li>
                        <li>Dark</li>
                    </ul>
                </li>
            </ul>
        </div> {% endcomment %}
    </nav>
    <nav class="nav">
        <div class="container-box">
            <div class="nav-menu">
                <div class="humbarger mobile" id="humbarger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
                <div class="location-box">
                    <a href="#"><img src="/static/frontend/images/icons/location.svg" alt="" > Dhaka, Bangladesh</a>
                </div>
            </div>
        </div>
    </nav>
</header>