{% extends 'base.html' %}

{% block title %}Attribute Value Details | Ecommerce{% endblock %}

{% block content %}
<section class="customer-list-section">
    <div class="container">
        <div class="content">
            <div class="title-box">
                <div class="page-title">
                    <h3>Attribute Value Details</h3>
                </div>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs-list">
                        <li><a href="{% url 'backend:backend_dashboard' %}"><span><img src="/static/images/icons/Home.svg" alt="home" /></span>Home</a></li>
                        <li><a href="{% url 'backend:attribute_value_list' %}">Attribute Value List</a></li>
                        <li><a href="#">Attribute Value Details</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-area-content">
                <div class="form-inner-content">
                    <div class="form-group">
                        <label>Attribute:</label> {{ attribute_value_details.attribute.attribute_name }}
                    </div>
                    <div class="form-group">
                        <label>Attribute Value:</label> {{ attribute_value_details.attribute_value }}
                    </div>
                    <div class="form-group">
                        <label>Ordering:</label> {{ attribute_value_details.attribute_value_ordering }}
                    </div>
                    <div class="form-group">
                        <label>Status:</label> {% if attribute_value_details.is_active %}Active{% else %}Inactive{% endif %}
                    </div>
                    <div class="form-group">
                        <label>Created At:</label> {{ attribute_value_details.created_at|date:"d-M-Y" }}
                    </div>
                    <div class="form-group">
                        <label>Created By:</label> {{ attribute_value_details.created_by }}
                    </div>
                    {% if attribute_value_details.updated_at %}
                    <div class="form-group">
                        <label>Updated At:</label> {{ attribute_value_details.updated_at|date:"d-M-Y" }}
                    </div>
                    {% endif %}
                    {% if attribute_value_details.updated_by %}
                    <div class="form-group">
                        <label>Updated By:</label> {{ attribute_value_details.updated_by }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="form-button">
                            <a href="{% url 'backend:attribute_value_list' %}" class="button primary-button cancle-button">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
