<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} My Ecommerce Site {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/frontend/css/style.css">
        <link rel="stylesheet" href="/static/frontend/css/style-query.css">
        {% block page_css %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="nav-top">
                <div class="container-box">
                    <div class="top-text">
                        <div class="top-text-left">
                            <div class="logo">
                                <img src="/static/frontend/images/icons/q-store.svg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="top-text-right">
                            <div class="user-menu">
                                <ul>
                                    <li><a href="#"><img src="/static/frontend/images/icons/search.svg" alt=""></a></li>
                                    <li>
                                        <a href="#"><img src="/static/frontend/images/icons/accout.svg" alt="" ></a>
                                        <div class="dropdown-user-menu">
                                            <ul>
                                                <li><a href="#">Profile</a></li>
                                                <li><a href="#">Logout</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#"><img src="/static/frontend/images/icons/wish-list.svg" alt=""></a></li>
                                    <li><a href="#"><img src="/static/frontend/images/icons/add-to-cart.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="nav">
                <div class="container-box">
                    <div class="nav-menu">
                        <div class="humbarger mobile" id="humbarger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                        <div class="location-box">
                            <a href="#"><img src="/static/frontend/images/icons/location.svg" alt="" > Dhaka, Bangladesh</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    {% block content %}
        
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="footer-box">
                <div class="footer-info">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
                <div class="news-letter">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/frontend/js/myecommerce.js"></script>
        {% block page_js %}{% endblock %}
    </body>
</html>