{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <h2 class="h3 mb-4 page-title">Change Password</h2>
            <div class="my-4">
                
                <form method="post">
                    {% csrf_token %}
                    <div class="row mt-5 align-items-center">
                        <div class="col-md-3 text-center mb-5">
                            <div class="avatar avatar-xl">
                                <img src="{{ user.get_profile_photo_url }}" alt="{{ user|default_if_none:'' }}" class="avatar-img">
                            </div>
                        </div>
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    <h4 class="mb-0">{{ user|default_if_none:'' }}</h4>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    {% if user.phone %}<p class="small mb-0 text-muted">Mobile: {{ user.phone|default_if_none:'' }}</p>{% endif %}
                                    {% if user.email %}<p class="small mb-0 text-muted">Email: {{ user.email|default_if_none:'' }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label }}">New password</label>
                                <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" value="{{ form.old_password.value|default_if_none:"" }}" required>
                                {% if form.password1.errors %}
                                    <div class="text-danger">
                                        {% for error in form.password1.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}">Confirm new password</label>
                                <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" value="{{ form.new_password1.value|default_if_none:"" }}" required>
                                {% if form.password2.errors %}
                                    <div class="text-danger">
                                        {% for error in form.password2.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
            
                        <div class="col-md-6">
                            <p class="mb-2">Password requirements</p>
                            <p class="small text-muted mb-2"> To create a new password, you have to meet all of the following requirements: </p>
                            <ul class="small text-muted pl-4 mb-0">
                                <li> Minimum 8 characters </li>
                                <li> At least one special character </li>
                                <li> At least one number </li>
                                <li> Can’t be the same as a previous password </li>
                            </ul>
                        </div>
                    </div>
            
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div> <!-- /.card-body -->
        </div> <!-- /.col-12 -->
    </div> <!-- .row -->
</div>

{% endblock %}